.tf1 {
    background-image: linear-gradient(to right, #006fcb, #054c87);
}
.france-2 {
    background-image: linear-gradient(to right, #fc0606, #af0505);
}
.france-3 {
    background-image: linear-gradient(to right, #0c9deb, #0162a3);
}
.france-4 {
    background-image: linear-gradient(to right, #9926ca, #691e85);
}
.france-5 {
    background-image: linear-gradient(to right, #04c8a1, #05806b);
}
.m6 {
    background-image: linear-gradient(to right, #b8182b, #84172b);
}
.arte {
    background-image: linear-gradient(to right, #f29345, #e05a16);
}
.c8, .canalplus {
    background-image: linear-gradient(to right, #454545, #000000);
}
.w9 {
    background-image: linear-gradient(to right, #ac0fff, #8006c3);
}
.tmc {
    background-image: linear-gradient(to right, #4f4f4f, #3d3d3d);
}
.tfx {
    background-image: linear-gradient(to right, #ff7f0a, #cc4902);
}
.nrj12 {
    background-image: linear-gradient(to right, #ff343d, #c80d15);
}
.gulli {
    background-image: linear-gradient(to right, #b5dd3e, #759b15);
}
.bfmtv {
    background-image: linear-gradient(to right, #003bd7, #062365);
}
.cnews {
    background-image: linear-gradient(to right, #fc0606, #af0505);
}
.lci {
    background-image: linear-gradient(to right, #005ae4, #002a7f);
}
.franceinfo {
    background-image: linear-gradient(to right, #ffe50d, #d19d00);
}
.cstar {
    background-image: linear-gradient(to right, #fff789, #fdda12);
}
.t18 {
    background-image: linear-gradient(to right, #104ebd, #112b5a);
}
.tf1-series-films {
    background-image: linear-gradient(to right, #0c8feb, #0158a3);
}
.sixter {
    background-image: linear-gradient(to right, #f60857, #ae0345);
}
.rmc-story {
    background-image: linear-gradient(to right, #8595a6, #5e6a75);
}
.rmc-decouverte {
    background-image: linear-gradient(to right, #006fcb, #054c87);
}
.cherie-25 {
    background-image: linear-gradient(to right, #f73c54, #c01034);
}