* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#classement {
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
}

.card {
    border: 3px solid;
    background-color: #007bff;
    padding-left: 18.5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(0,0,0,0.2);
}
.card > * {
    z-index: 1;
}

.premier {
    border-color: var(--or);
}
.premier .rang > p, .premier .progressMoyenne p:first-child {
    color: #ebdf9d;
}

.deuxieme {
    border-color: var(--argent);
}
.deuxieme .rang > p, .deuxieme .progressMoyenne p:first-child {
    color: #e3e3e3;
}

.troisieme {
    border-color: var(--bronze);
}
.troisieme .rang > p, .troisieme .progressMoyenne p:first-child {
    color: #deb46b;
}

.quatrieme {
    border-color: var(--quatreBorder);
}
.quatrieme .rang > p {
    color: var(--quatrieme);
}
.quatrieme .progressMoyenne p:first-child{
    color: #8de88d;
}

.milieu {
    border-color: var(--milieuBorder);
}
.milieu .rang > p {
    color: var(--milieu);
}
.milieu .progressMoyenne p:first-child {
    color: #75deff;
}

.last-milieu {
    border-color: var(--lastMilieuBorder);
}
.last-milieu .rang > p {
    color: var(--lastMilieu);
}
.last-milieu .progressMoyenne p:first-child {
    color: #c4d3f9;
}

.antepenultieme {
    border-color: var(--antepenultiemeBorder);
}
.antepenultieme .rang > p {
    color: var(--antepenultieme);
}

.penultieme {
    border-color: var(--penultiemeBorder);
}
.penultieme .rang > p {
    color: var(--penultieme);
}

.ultieme {
    border-color: var(--ultiemeBorder);
}
.ultieme .rang > p {
    color: var(--ultieme);
}

.penultieme .rang, .ultieme .rang {
    background-color: white;
}

/* before */

/* Activer le fondu */
.card::before {
    content: "";
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 0;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    box-shadow: 
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(0,0,0,0.2);
}
.active-gradient::before {
    opacity: 1;
}

.premier::before {
    background: linear-gradient(to right, #ebdf9d, #aa7a24);
}
.deuxieme::before {
    background: linear-gradient(to right, #e3e3e3, #969696);
}
.troisieme::before {
    background: linear-gradient(to right, #deb46b, #974826);
}
.quatrieme::before {
    background: var(--quatrieme);
}
.milieu::before {
    background: var(--milieu);
}
.last-milieu::before {
    background: var(--lastMilieu);
}
.antepenultieme::before {
    background: var(--antepenultieme);
}
.penultieme::before {
    background: var(--penultieme);
}
.ultieme::before {
    background: var(--ultieme);
}

/* autre */

.imgDiv {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressMoyenne {
    width: 80%;
    height: calc(70px - 17px);
    text-align: center;
    margin-right: 10px;
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    background: #eee;
}
.progressMoyenne .moyenne {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5px;
    background-image: linear-gradient(transparent 46% 67%, #eee 67%);
}
.progressMoyenne p:first-child {
    color: #eee;
    text-shadow: 0 0 5px black;
    font-family: "SegoeUI_Black";
    transition: color 1s;
}
.progressMoyenne p {
    font-size: 1.5rem;
}
.progressMoyenne p + p {
    font-family: 'Courier New';
    font-size: 0.8rem;
    color: black;
}

.progressBar {
    height: inherit;
    width: 0%;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.4),
                0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.progressBar.shiny::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 50%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.2)
    );
    animation: shine 1s infinite;
}

@keyframes shine {
    0% { left: -50%; }
    100% { left: 100%; }
}

@media all and (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center !important;
        justify-content: space-evenly;
        height: 125px !important;
    }

    .progressMoyenne {
        margin-right: 0px;
        width: 90%;
    }
}