:root {
    --or: #D4AF37;
    --argent: #C0C0C0;
    --bronze: #CD7F32;

    --quatrieme: limegreen;
    --quatreBorder: #209920;

    --milieu: deepskyblue;
    --milieuBorder: #0095d4;

    --lastMilieu: #6289ed;
    --lastMilieuBorder: #496ae8;

    --antepenultieme: #826edf;
    --antepenultiemeBorder: #7354d3;

    --penultieme: #7450bc;
    --penultiemeBorder: #5c3c9b;

    --ultieme: #663399;
    --ultiemeBorder: #522a79;
}

@font-face {
    font-family: "Barlow_Black";
    src: url("font/Barlow-Black.ttf");
}
@font-face {
    font-family: "Barlow_Bold";
    src: url("font/Barlow-Bold.ttf");
}
@font-face {
    font-family: "Barlow_Italic";
    src: url("font/Barlow-Italic.ttf");
}
@font-face {
    font-family: "Barlow_Light";
    src: url("font/Barlow-Light.ttf");
}
@font-face {
    font-family: "Barlow";
    src: url("font/Barlow-Regular.ttf");
}
@font-face {
    font-family: "Barlow_BoldItalic";
    src: url("font/Barlow-BoldItalic.ttf");
}
@font-face {
    font-family: "SegoeUI_Gras";
    src: url("font/segoeuib.ttf");
}
@font-face {
    font-family: "SegoeUI_Black";
    src: url("font/seguibl.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lundi {
    background-image: linear-gradient(135deg, #ecff41, #d1bf00);
}
.mardi {
    background-image: linear-gradient(135deg, #81fbff, #00b2b7);
}
.mercredi {
    background-image: linear-gradient(135deg, #98ff90, #00b809);
}
.jeudi {
    background-image: linear-gradient(135deg, #ff99f6, #cf00ca);
}
.vendredi {
    background-image: linear-gradient(135deg, #ff9494, #d70000);
}
.samedi {
    background-image: linear-gradient(135deg, #5676ff, #10169f);
}
.dimanche {
    background-image: linear-gradient(135deg, #ededed, #adadad);
}

.dateURL {
    font-family: "Barlow_Bold";
    text-align: center;
    color: white;
    margin: 0 auto 10px auto;
    letter-spacing: 1px;
    background-color: black;
    border-radius: 12px;
    padding: 2px 5px 5px 5px;
    width: fit-content;
}

img:not(header img) {
    max-width: 55px;
    max-height: 55px;
    padding: 5px;
    background: white;
    box-shadow: 0px 0px 5px black;
}
p {
    font-family: "SegoeUI_Gras";
}

#mire-header {
    background: linear-gradient(90deg,
                #D5D5D5 0%,#D5D5D5 calc(100% / 7),
                #ff0 calc(100% / 7),#ff0 calc(200% / 7),
                #0ff calc(200% / 7),#0ff calc(300% / 7),
                #0f0 calc(300% / 7),#0f0 calc(400% / 7),
                #f0f calc(400% / 7),#f0f calc(500% / 7),
                #f00 calc(500% / 7),#f00 calc(600% / 7),
                #00f calc(600% / 7),#00f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75px;
    padding: 10px 0;
    margin-bottom: 10px;
}
#mire-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient( 0deg, transparent, transparent 2px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 4px );
}

#mire-header div {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mire-header img {
    max-height: 100%;
}
#mire-header h1 {
    font-family: "Barlow_Black", sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    letter-spacing: 3px;
}

form {
    display: flex;
    gap: 5px;
}

form > div > * {
    border: 1px solid;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    transition: transform 0.2s;
}
form > div > *:hover {
    transform: scale(1.1);
}

form > div > input {
    border-color: white;
    background-color: black;
    color: white;
    margin-right: 5px;
}
form > div > button {
    border-color: black;
    background-color: white;
}


#podium {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

#podium > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-radius: 30px; */
    border: 3px solid;
    box-shadow: 
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(0,0,0,0.2);
}

#podium .info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.programme {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Barlow_BoldItalic";
}
.audiencePDA {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.audienceDiv, .pdaDiv {
    text-align: center;
}
.audience, .pda {
    font-size: 1.6rem;
    font-family: "SegoeUI_Black";
    /* font-weight: 800; */
}
.audience + p, .pda + p {
    font-size: 0.95rem;
    font-family: "Courier New";
}

#podium .audiencePDA {
    border: solid black;
    border-width: 1px 0;
}
#podium .audienceDiv {
    border: solid black;
    border-width: 0 1px 0 0;
    width: 50%;
}
#podium .pdaDiv {
    width: 50%;
}
#podium .audiencePDA p:first-child {
    text-shadow: 0 0 5px black;
    color: white;
}

#podium .rangPod {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: black;
    font-weight: 1000;
}

#podium #premier {
    background: linear-gradient(135deg, #ebdf9d, #aa7a24);
    height: 300px;
    border-color: var(--or);
}
#podium #deuxieme {
    background: linear-gradient(135deg, #e3e3e3, #969696);
    height: 250px;
    border-color: var(--argent);
}
#podium #troisieme {
    background: linear-gradient(135deg, #deb46b, #974826);
    height: 200px;
    border-color: var(--bronze);
}

#premier .rangPod {
    width: 45px;
    height: 45px;
}
#deuxieme .rangPod {
    width: 40px;
    height: 40px;
}
#troisieme .rangPod {
    width: 35px;
    height: 35px;
}

#premier .rangPod p {
    font-size: 2rem;
    color: var(--or);
}
#deuxieme .rangPod p {
    font-size: 1.8rem;
    color: var(--argent);
}
#troisieme .rangPod p {
    font-size: 1.5rem;
    color: var(--bronze);
}

/* border-image: linear-gradient(180deg, #C0C0C0 0% calc(100% / 7), #ff0 calc(100% / 7) calc(200% / 7), #0ff calc(200% / 7) calc(300% / 7), #0f0 calc(300% / 7) calc(400% / 7), #f0f calc(400% / 7) calc(500% / 7), #f00 calc(500% / 7) calc(600% / 7), #00f calc(600% / 7) 100%) 30; */

@media all and (max-width: 1125px) {
    #podium > div {
        width: 30%;
    }
}
@media all and (max-width: 900px) {
    #podium > div {
        width: 33%;
    }
}

/* Classement */

#classement {
    width: 90%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#classement > article {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#classement > div, #classement article > div {
    /* position: relative;
    display: flex;
    align-items: center;
    width: 47.5%; */

    border: 3px solid;
    padding-left: 18.5px;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(0,0,0,0.2);
}

.rang {
    position: absolute;
    left: -16.5px;
    width: 30px;
    height: 30px;
    background: black;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    text-align: center;
}

#classement .audiencePDA {
    text-align: center;
    flex: 0 0 225px;
}
#classement .audienceDiv {
    border: solid black;
    border-width: 0 1px;
    width: 60%;
}
#classement .pdaDiv {
    width: 40%;
}
#classement .audienceDiv, #classement .pdaDiv {
    padding: 10px;
}
#classement .audience, #classement .pda {
    font-size: 1.5em;
    font-family: "SegoeUI_Gras";
    /* font-weight: bold; */
    text-shadow: 0 0 5px black;
}
#classement .programme_classement {
    text-align: center;
    font-family: "Barlow_Italic";
}
#classement .audience + p, #classement .pda + p {
    font-size: 0.8rem;
}

#classement > div:first-of-type {
    background: var(--quatrieme);
    border-color: var(--quatreBorder);
    width: 100%;
}
#classement > div:first-of-type .rang {
    color: var(--quatrieme);
}
#classement > div:first-of-type .audience, #classement > div:first-of-type .pda {
   color: #0f0;
}


#classement .milieu {
    background: var(--milieu);
    border-color: var(--milieuBorder);
}
#classement .milieu .rang > p {
    color: var(--milieu);
}
#classement .milieu .audience, #classement .milieu .pda {
   color: #0ff;
}

#classement .last-milieu {
    background: var(--lastMilieu);
    border-color: var(--lastMilieuBorder);
}
#classement .last-milieu .rang > p {
    color: var(--lastMilieu);
}
#classement .last-milieu .audience, #classement .last-milieu .pda {
    color: #82caff;
}

#classement .fin .rang:not(#classement .fin:nth-last-child(3) .rang) {
    background: white;
}

#classement .fin:nth-last-child(3) {
    background: var(--antepenultieme);
    border-color: var(--antepenultiemeBorder);
}
#classement .fin:nth-last-child(3) .rang > p {
    color: var(--antepenultieme);
}
#classement .fin:nth-last-child(3) .audience, #classement .fin:nth-last-child(3) .pda {
    color: #bc98ff;
}

#classement .fin:nth-last-child(2) {
    background: var(--penultieme);
    border-color: var(--penultiemeBorder);
    color: white;
}
#classement .fin:nth-last-child(2) .rang > p {
    color: var(--penultieme);
}
#classement .fin:nth-last-child(2) .audience, #classement .fin:nth-last-child(2) .pda {
    color: #bfa0ff;
}

#classement .fin:last-child {
    color: white;
    background: var(--ultieme);
    border-color: var(--ultiemeBorder);
}
#classement .fin:last-child .rang > p {
    color: var(--ultieme);
}
#classement .fin:last-child .audience, #classement .fin:last-child .pda {
    color: #b16bf7;
}

@media all and (max-width: 1000px) {
    #classement {
        width: calc(100% - 40px);
    }
    #classement > article {
        width: 100%;
    }
    #classement .programme {
        width: 100%;
    }
}

/* Loading */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: "Courier New";
}