:root {
    --or: #D4AF37;
    --argent: #C0C0C0;
    --bronze: #CD7F32;
    --quatrieme: limegreen;
    --quatreBorder: #209920;
    --milieu: deepskyblue;
    --milieuBorder: #0095d4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img:not(header img) {
    max-width: 55px;
    max-height: 55px;
    padding: 5px;
    background: white;
    box-shadow: 5px 5px 1px black;
}
p {
    font-family: "Segoe UI";
}

#mire-header {
    background: linear-gradient(90deg,
                #D5D5D5 0%,#D5D5D5 calc(100% / 7),
                #ff0 calc(100% / 7),#ff0 calc(200% / 7),
                #0ff calc(200% / 7),#0ff calc(300% / 7),
                #0f0 calc(300% / 7),#0f0 calc(400% / 7),
                #f0f calc(400% / 7),#f0f calc(500% / 7),
                #f00 calc(500% / 7),#f00 calc(600% / 7),
                #00f calc(600% / 7),#00f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    height: 150px;
    padding: 10px 0;
    margin-bottom: 10px;
}
#mire-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient( 0deg, transparent, transparent 2px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 4px );
}

#mire-header div {
    z-index: 1;
    height: 100%;
}
#mire-header img {
    height: inherit;
}

#podium {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

#podium > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-radius: 30px; */
    border: 3px solid;
    box-shadow: 
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(0,0,0,0.2);
}

#podium .info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.programme {
    font-size: 1.2rem;
    text-align: center;
}
.audiencePDA {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.audienceDiv, .pdaDiv {
    text-align: center;
}
.audience, .pda {
    font-size: 1.6rem;
    font-weight: 800;
}
.audience + p, .pda + p {
    font-size: 0.95rem;
    font-family: "Courier New";
}

#podium .audiencePDA {
    border: solid black;
    border-width: 1px 0;
}
#podium .audienceDiv {
    border: solid black;
    border-width: 0 1px 0 0;
    width: 50%;
}
#podium .pdaDiv {
    width: 50%;
}
#podium .audiencePDA p:first-child {
    text-shadow: 0 0 10px black;
    color: white;
}

#podium .rangPod {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: black;
    font-weight: 1000;
}

#podium #premier {
    background: linear-gradient(135deg, #ebdf9d, #aa7a24);
    height: 300px;
    border-color: var(--or);
}
#podium #deuxieme {
    background: linear-gradient(135deg, #e3e3e3, #969696);
    height: 250px;
    border-color: var(--argent);
}
#podium #troisieme {
    background: linear-gradient(135deg, #deb46b, #974826);
    height: 200px;
    border-color: var(--bronze);
}

#premier .rangPod {
    width: 45px;
    height: 45px;
}
#deuxieme .rangPod {
    width: 40px;
    height: 40px;
}
#troisieme .rangPod {
    width: 35px;
    height: 35px;
}

#premier .rangPod p {
    font-size: 2rem;
    color: var(--or);
}
#deuxieme .rangPod p {
    font-size: 1.8rem;
    color: var(--argent);
}
#troisieme .rangPod p {
    font-size: 1.5rem;
    color: var(--bronze);
}

/* border-image: linear-gradient(180deg, #C0C0C0 0% calc(100% / 7), #ff0 calc(100% / 7) calc(200% / 7), #0ff calc(200% / 7) calc(300% / 7), #0f0 calc(300% / 7) calc(400% / 7), #f0f calc(400% / 7) calc(500% / 7), #f00 calc(500% / 7) calc(600% / 7), #00f calc(600% / 7) 100%) 30; */

@media all and (max-width: 1125px) {
    #podium > div {
        width: 30%;
    }
}
@media all and (max-width: 900px) {
    #podium > div {
        width: 33%;
    }

    #classement {
        width: 100%;
    }
}

/* Classement */
#classement {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#classement > div {
    /* position: relative;
    display: flex;
    align-items: center;
    width: 47.5%; */

    border: 3px solid;
    padding-left: 18.5px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47.5%;
    box-shadow: 
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(0,0,0,0.2);
}

#classement > div:first-of-type {
    background: var(--quatrieme);
    border-color: var(--quatreBorder);
    width: 100%;
}

.rang {
    position: absolute;
    left: -16.5px;
    width: 30px;
    height: 30px;
    background: black;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    font-family: 'Impact', sans-serif;
}

#classement > div:first-of-type .rang {
    color: var(--quatrieme);
}
#classement > div:first-of-type .audience, #classement > div:first-of-type .pda {
   color: #0f0;
}
#classement .milieu .audience, #classement .milieu .pda {
   color: #0ff;
}

#classement .audiencePDA {
    /* flex-direction: column; */
    width: fit-content;
    text-align: center;
}
#classement .audienceDiv {
    border: solid black;
    border-width: 0 1px;
}
#classement .audienceDiv, #classement .pdaDiv {
    padding: 10px;
}
#classement .audience, #classement .pda {
    /* font-size: 1.2rem; */

    font-size: 1.5em;
    font-weight: bold;
    color: #00FF00;
    text-shadow: 0 0 5px black;
}
#classement .programme_classement {
    margin-left: 5px;
    text-align: center;
}
#classement .audience + p, #classement .pda + p {
    font-size: 0.8rem;
}

#classement .milieu {
    background: var(--milieu);
    border-color: var(--milieuBorder);
}
#classement .milieu .rang  > p {
    color: var(--milieu);
}